In [1]:
!ls

Untitled.ipynb __init__.py    data.py        manual.py      rank.tsv

In [2]:
%run data.py

          terms  frequency      value
0        python       1297  19.789262
1         linux        752  20.003344
2          java        512  21.424180
3           web        467  18.127049
4         mysql        454  19.957219
5             c        436  20.673753
6         shell        346  19.744872
7         redis        246  19.701183
8           php        198  20.016667
9        hadoop        196  24.012821
10          sql        191  20.002439
11        spark        185  23.682432
12   javascript        175  19.108696
13      mongodb        158  20.710526
14         http        143  19.461538
15       django        141  18.012500
16          tcp        141  19.203125
17           go        136  20.543803
18         unix        128  24.466667
19           ip        120  18.766129
20       docker        119  20.215190
21         html        116  16.265306
22        nosql        112  20.096154
23          css        111  16.320513
24        nginx        109  18.101124
25          api        108  18.363636
26         hive        103  21.930556
27       oracle        102  19.844444
28        flask         91  18.941176
29        hbase         88  19.730769
..          ...        ...        ...
95         bash         22  16.825000
96     memcache         22  22.014286
97        flume         22  22.625000
98    websocket         21  19.214286
99          kvm         21  21.846154
100   memcached         21  21.800000
101         mvc         21  19.166667
102         lvs         21  20.545455
103         cdn         21  30.000000
104        gulp         20  17.687500
105          pc         20  20.666667
106         elk         20  12.700000
107        case         20  22.416667
108   saltstack         20  24.454545
109      opencv         19  23.416667
110    selenium         19  15.810345
111      nagios         19  19.140000
112        rest         18  19.375000
113     mybatis         18  20.000000
114     service         18  20.933333
115   openstack         17  17.535714
116      vue.js         17  19.500000
117        cmdb         17  22.500000
118         udp         16  17.000000
119       maven         16  17.272727
120       numpy         16  23.029412
121         dns         16  22.500000
122   zookeeper         16  16.794118
123       sqoop         16  18.250000
124     haproxy         16  23.785714

[125 rows x 3 columns]

In [3]:
df

          terms  frequency      value
0        python       1297  19.789262
1         linux        752  20.003344
2          java        512  21.424180
3           web        467  18.127049
4         mysql        454  19.957219
5             c        436  20.673753
6         shell        346  19.744872
7         redis        246  19.701183
8           php        198  20.016667
9        hadoop        196  24.012821
10          sql        191  20.002439
11        spark        185  23.682432
12   javascript        175  19.108696
13      mongodb        158  20.710526
14         http        143  19.461538
15       django        141  18.012500
16          tcp        141  19.203125
17           go        136  20.543803
18         unix        128  24.466667
19           ip        120  18.766129
20       docker        119  20.215190
21         html        116  16.265306
22        nosql        112  20.096154
23          css        111  16.320513
24        nginx        109  18.101124
25          api        108  18.363636
26         hive        103  21.930556
27       oracle        102  19.844444
28        flask         91  18.941176
29        hbase         88  19.730769
..          ...        ...        ...
95         bash         22  16.825000
96     memcache         22  22.014286
97        flume         22  22.625000
98    websocket         21  19.214286
99          kvm         21  21.846154
100   memcached         21  21.800000
101         mvc         21  19.166667
102         lvs         21  20.545455
103         cdn         21  30.000000
104        gulp         20  17.687500
105          pc         20  20.666667
106         elk         20  12.700000
107        case         20  22.416667
108   saltstack         20  24.454545
109      opencv         19  23.416667
110    selenium         19  15.810345
111      nagios         19  19.140000
112        rest         18  19.375000
113     mybatis         18  20.000000
114     service         18  20.933333
115   openstack         17  17.535714
116      vue.js         17  19.500000
117        cmdb         17  22.500000
118         udp         16  17.000000
119       maven         16  17.272727
120       numpy         16  23.029412
121         dns         16  22.500000
122   zookeeper         16  16.794118
123       sqoop         16  18.250000
124     haproxy         16  23.785714

[125 rows x 3 columns]

In [5]:
df.sort_values('value', ascending=False)

             terms  frequency      value
52             aws         51  33.750000
103            cdn         21  30.000000
80            hdfs         27  29.833333
64      tensorflow         37  29.522727
37           scala         75  27.397059
90           caffe         23  25.269231
18            unix        128  24.466667
108      saltstack         20  24.454545
44              ai         66  24.265625
9           hadoop        196  24.012821
124        haproxy         16  23.785714
11           spark        185  23.682432
109         opencv         19  23.416667
120          numpy         16  23.029412
33          golang         77  22.944444
81      experience         27  22.821429
41          github         71  22.758065
97           flume         22  22.625000
117           cmdb         17  22.500000
121            dns         16  22.500000
63      kubernetes         38  22.437500
107           case         20  22.416667
58           storm         43  22.119048
70         ansible         35  22.054348
96        memcache         22  22.014286
26            hive        103  21.930556
99             kvm         21  21.846154
100      memcached         21  21.800000
51          devops         54  21.791667
84              ci         24  21.785714
..             ...        ...        ...
57          tomcat         45  17.862069
78         webpack         29  17.826087
65          apache         37  17.727273
38          jquery         74  17.718750
104           gulp         20  17.687500
59   elasticsearch         41  17.642857
87       angularjs         24  17.583333
115      openstack         17  17.535714
82          scrapy         26  17.400000
119          maven         16  17.272727
86             bug         24  17.269231
118            udp         16  17.000000
36           react         76  16.964286
74            css3         32  16.916667
76          matlab         30  16.916667
62         jenkins         39  16.894737
43             vue         68  16.844828
95            bash         22  16.825000
122      zookeeper         16  16.794118
83            ajax         26  16.550000
23             css        111  16.320513
21            html        116  16.265306
93             es6         23  16.000000
110       selenium         19  15.810345
91              qt         23  14.800000
56           html5         48  14.750000
85              h5         24  14.000000
106            elk         20  12.700000
46             etl         60        NaN
66             nlp         36        NaN

[125 rows x 3 columns]

In [ ]:
df.sort_values('value', ascending=False)